html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
  margin: 0 0 0.3em;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
  li {
    margin: 0 0 0.4em;
  }
}

dl {
  padding: 0 0 12px;
  dt {
    font-weight: bold;
  }
  dd {
    color: gray;
    font-size: 0.8em;
  }
}

input {
  height: 30px
}

.p-description {
  color: gray;
  font-size: 0.8em;
  padding: 0 0 12px;
}